body, .hidingPanel{
	background:black;
	font-family:"Arial";
}
#mainContainer {
	margin:auto;
	width:1000px;
}
#configPanelDiv {
	position:relative;
	right:3px;
	box-shadow: inset 0 0 3px 3px #888;
	float:left;
	background:white;
	position:relative;
	margin:10px 0;
	padding:10px 0;
}


button, #instructions, #panelInstructions {
	background-color: #4D90FE;
}
button {
	border: 1px solid #3079ED;
	font-size:20pt;
	color:white;
	cursor:pointer;
}
button:hover {
	background-color:#3079ED;
}

button#startButton {
	position:relative;
	top:300px;
}


#animationDiv {
	position:relative;
	margin:auto;
	background:white;
}
#mainMenu, #mainMenuCanvas, #drawingCanvas, #addingInfos, #penCanvas, #addingCanvas {
	position:absolute;
	top:0;
	left:0;
}

#mainMenu, #mainMenuCanvas,  #animationDiv, #addingInfos, #penCanvas, #addingCanvas {
	height:700px;
	width:700px;
}

#addingInfos {
	background:rgba(0, 0, 0, 0.4);
}
#panelInstructions, #instructions {
	position:absolute;
	color:white;
	width:100px;
	padding:5px;
	text-align:left;
	border-radius:5px;
}
#instructions {
	left:100%;
}
#panelInstructions {
	right:100%;
	top:0;
}

#mainMenu, #addingInfos, #panelInstructions {
	display:none;
	text-align:center;
}

#mainMenu p:first-child {
	padding-top:70px;
	font-size:20pt;
}

#colorPicker {
	border:1px solid black;
	width:100px;
}
.subPanel {
	padding:10px;
}
.hidingPanel {
	position:absolute;
	width:100%;
	height:100%;
	-moz-transition-property:top;
	-moz-transition-duration:1s;
}
.open {
	top:-100%;
}
.close {
	top:0;
}
.continousOption, .dottedOption {
	width:50px;
	color:transparent;
}

.continousOption {
	background:url(../images/continuous.png) no-repeat;
}

.dottedOption {
	background:url(../images/dotted.png) no-repeat;
}
